# python mongodb connectivity

In [21]:
import pymongo
from pymongo import MongoClient


if __name__=="__main__":
    print("welcome to pyMongo")
    client = pymongo.MongoClient("mongodb://localhost:27017")
    print(client)

welcome to pyMongo
MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

# Show Databases

In [23]:
alldbs=client.list_database_names() 
print(alldbs)

['admin', 'config', 'local', 'sigma']

# Create Database,Collection

In [24]:
dbms=client["iacsd"]
collection=dbms['student']

# Insert operations

In [25]:
#insert OneRecord
dictionary={"name":"Ramesh","Location":"Pune","Marks":90}
collection.insert_one(dictionary)

InsertOneResult(ObjectId('66508be30210da6f332386f7'), acknowledged=True)

In [26]:
#insert ManyRecords
insertThese=[
    {"name":"Suresh","Location":"Mumbai","Marks":93},
    {"name":"Rakesh","Location":"Chennai","Marks":92},
    {"name":"Paresh","Location":"Delhi","Marks":95},
    {"name":"Kamlesh","Location":"Benglore","Marks":97},
    {"name":"Jayesh","Location":"Hydrabad","Marks":91}
]

collection.insert_many(insertThese)

InsertManyResult([ObjectId('66508bfd0210da6f332386f8'), ObjectId('66508bfd0210da6f332386f9'), ObjectId('66508bfd0210da6f332386fa'), ObjectId('66508bfd0210da6f332386fb'), ObjectId('66508bfd0210da6f332386fc')], acknowledged=True)

# Find Operation

In [27]:
# find one operation
one=collection.find_one()
print(one)

{'_id': ObjectId('66508be30210da6f332386f7'), 'name': 'Ramesh', 'Location': 'Pune', 'Marks': 90}

In [28]:
one1=collection.find_one({"name":"Jayesh"})
print(one1)

{'_id': ObjectId('66508bfd0210da6f332386fc'), 'name': 'Jayesh', 'Location': 'Hydrabad', 'Marks': 91}

In [29]:
# find all operation
alldocs=collection.find()
for item in alldocs:
    print(item)

{'_id': ObjectId('66508be30210da6f332386f7'), 'name': 'Ramesh', 'Location': 'Pune', 'Marks': 90}
{'_id': ObjectId('66508bfd0210da6f332386f8'), 'name': 'Suresh', 'Location': 'Mumbai', 'Marks': 93}
{'_id': ObjectId('66508bfd0210da6f332386f9'), 'name': 'Rakesh', 'Location': 'Chennai', 'Marks': 92}
{'_id': ObjectId('66508bfd0210da6f332386fa'), 'name': 'Paresh', 'Location': 'Delhi', 'Marks': 95}
{'_id': ObjectId('66508bfd0210da6f332386fb'), 'name': 'Kamlesh', 'Location': 'Benglore', 'Marks': 97}
{'_id': ObjectId('66508bfd0210da6f332386fc'), 'name': 'Jayesh', 'Location': 'Hydrabad', 'Marks': 91}

# Update Operation

In [30]:
# update one operation
prev = {"name":"Ramesh"}
next = {"$set":{"Location":"USA"}}
one=collection.update_one(prev,next) # one=collection.update_one({"name":"Ramesh"},{"$set":{"Location":"Kolkata"}})
print(one)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [32]:
# update using for loop
name = ["Ramesh", "Paresh", "Suresh"]
for i in name:
    collection.update_one({"name":i},{"$set":{"Location":"Kolkata"}})

In [ ]:
# update many operation
prev = {"name":"Paresh"}
next = {"$set":{"Location":"Kolkata", "Marks":100}}
up=collection.update_many(prev,next)
print(up)
print(up.modified_count)

# Regular Expression

In [33]:
# 1.find records where Location ends with "a"
reg={"Location":{"$regex":"a$"}}
documents=collection.find(reg)
for record in documents:
    print(record)

{'_id': ObjectId('66508be30210da6f332386f7'), 'name': 'Ramesh', 'Location': 'Kolkata', 'Marks': 90}
{'_id': ObjectId('66508bfd0210da6f332386f8'), 'name': 'Suresh', 'Location': 'Kolkata', 'Marks': 93}
{'_id': ObjectId('66508bfd0210da6f332386fa'), 'name': 'Paresh', 'Location': 'Kolkata', 'Marks': 95}

In [34]:
# 1. find records whoes name starts with P
reg1 = {"name": {"$regex": "^P"}}
documents=collection.find(reg1)
for record in documents:
    print(record)

{'_id': ObjectId('66508bfd0210da6f332386fa'), 'name': 'Paresh', 'Location': 'Kolkata', 'Marks': 95}

# Aggregation Pipeline or Operation

In [35]:
pipeline = [{'$group': {'_id':'$Location', 'averageMarks':{'$avg': '$Marks'}}}]
alldocs=collection.aggregate(pipeline)
for item in alldocs:
    print(item)

{'_id': 'Chennai', 'averageMarks': 92.0}
{'_id': 'Hydrabad', 'averageMarks': 91.0}
{'_id': 'Kolkata', 'averageMarks': 92.66666666666667}
{'_id': 'Benglore', 'averageMarks': 97.0}

In [36]:
pipeline = [{'$project': {'_id':0, 'name':1, 'Marks':1}}]
alldocs=collection.aggregate(pipeline)
for item in alldocs:
    print(item)

{'name': 'Ramesh', 'Marks': 90}
{'name': 'Suresh', 'Marks': 93}
{'name': 'Rakesh', 'Marks': 92}
{'name': 'Paresh', 'Marks': 95}
{'name': 'Kamlesh', 'Marks': 97}
{'name': 'Jayesh', 'Marks': 91}

In [ ]:
pipeline = [{'$group': {'_id':'$Location', 'averageMarks':{'$avg': '$Marks'}}}]
alldocs=collection.aggregate(pipeline)
for item in alldocs:
    print(item)

In [ ]:
pipeline = [{'$group': {'_id':None, 'totalMarks':{'$sum': '$Marks'}}}]
alldocs=collection.aggregate(pipeline)
for item in alldocs:
    print(item)

In [ ]:
pipeline = [{'$group': {'_id':None, 'minMarks':{'$min': '$Marks'}}}]
    alldocs=collection.aggregate(pipeline)
    for item in alldocs:
            print(item)

In [ ]:
pipeline = [{'$group': {'_id':None, 'maxMarks':{'$max': '$Marks'}}}]
alldocs=collection.aggregate(pipeline)
for item in alldocs:
    print(item)

# Delete operation

In [37]:
# delete one operation
rec = {"name":"Kamlesh"}
one=collection.delete_one(rec)
print(one)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [ ]:
# delete many operation
rec = {"name":"Jayesh"}
many=collection.delete_many(rec)
print(many)
print(many.deleted_count)